#slide{
	width: 100%;
	height: 9em;
}
#butao-flutuante{
   	right: 10%;
   	bottom: 4%;
    position: fixed;

}

#opcoes{
	width: 100%;
	font-size: 10px;
}


#subtitulo-ofertas{
	font-size: 12px;
}

#img-itens{
	background-color: rgba(0,0,0,0);

}

#linha {
	padding: 1em 0em 0em 0em;
	background-color: rgba(0,0,0,0);
}

ion-row ion-col{
	text-align: center;
}
